/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* fine reset */

.green {
  background: #02c39a;
  width: 100%;
  height: 150px;
}

.platform {
  position: absolute;
  width: 1050px;
  height: 750px;
  background: lightgrey;
  margin-left: 25%;
}
